<nav class="navbar navbar-expand-md navbar-light bg-faded" id="olive">
    
    
    <div class="navbar-collapse" id="navbarMain">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Back to courses</a>
            </li>

        </ul>
        
        
    </div>

  </nav>

<div *ngIf="courseContent" class="row">
    <div class="col-md-2">

    <div class="hideBar">
    <a href="#scroll" data-bs-target="#scroll" data-bs-toggle="collapse" class="alignthem"><i class="bi bi-list big"></i> <span>&nbsp;&nbsp;Menu</span></a>
    </div>
        <div class="scroll collapse show" id="scroll">
                <div id="sidebar" class="border-end">
                    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                        <div id="accordion" class="accordion">
                            <div class="accordion-item" *ngFor="let module of courseContent.modules; let i = index">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                  [attr.data-bs-target]="'#module-' + module.id" aria-expanded="false"
                                  [attr.aria-controls]="'module-' + module.id">
                                  {{module.title}}
                                </button>
                              </h2>
                              <div id="module-{{module.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="accordion-body nopadding">
                                  <table class="table">
                                    <tbody>
                                      <tr class="clickable" *ngFor="let lesson of lessons[module.id]">
                                        <td
                                        [ngStyle] = "{'background-color': activeSelectMod == module.id && activeSelectLesson == lesson.id ? '#83C1A3' : '#FFF'}"
                                        scope="row" (click)="changeContent(module.id,lesson.id)">{{lesson.title}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          
                          </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="col-md-8">
      <div class="p-3">
        <h1>{{activeTitle}}</h1>
        <hr>
      </div>
        <div class="thediv">
        <div class="container">
          
        <iframe [src]="activeContent" class="responsive-iframe"></iframe>
    </div>  </div>
    </div>
</div>