<ng-template [ngIf]="isAuth" [ngIfElse]="loggedOut">
    <app-navbar></app-navbar>
</ng-template>

<ng-template #loggedOut>
    <app-unauthnav></app-unauthnav>
</ng-template>

<div *ngIf="courseContent">
  <div id="banner" class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{courseContent.details.title}}</h1>
        <p class="lead">{{courseContent.details.shortdesc}}</p>

        <ng-template [ngIf]="isEnrolled" [ngIfElse]="notEnrolled">
          <button (click)="redirectToPlayer()" class="btn btn-primary">Continue course</button>
        </ng-template>

        <ng-template #notEnrolled>
          <button (click)="enrollStudent()" class="btn btn-primary button-prim">Enroll for free</button>
        </ng-template>
      </div>
  </div>

  <div class="divpadding" id="learningObj">
      <h2>What you'll learn</h2>
      <div [innerHTML]="courseContent.details.description"></div>
  </div>

  <div class="divpadding" id="preReq">
      <h2>Prerequisites</h2>
      <p>{{courseContent.details.prereq}}</p>
  </div>

  <div class="divpadding" id="curriculum">
      <h2>Course details</h2>

      <div id="accordion" class="accordion">
        <div class="accordion-item" *ngFor="let module of courseContent.modules; let i = index">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#module-' + module.id" aria-expanded="true"
              [attr.aria-controls]="'module-' + module.id">
              {{module.title}}
            </button>
          </h2>
          <div id="module-{{module.id}}" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
              <table class="table">
                <tbody>
                  <tr *ngFor="let lesson of lessons[module.id]">
                    <td scope="row">{{lesson.title}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
      </div>
</div>

<app-footer></app-footer>