#banner{
    background-image: linear-gradient(to right, #83C1A3,#45B47E);
    height:50vh;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.divpadding{
    padding: 2em 4em 0 4em;
}

.button-prim{
    background-color: #6C61F2;
    margin-right: 2rem;
    margin-top:2rem;
    font-size: 22px;
    color:#f7e5e5;
  }