
<app-navbar></app-navbar>
<div class="articleContainer">
    <ul class="list-group list-group-light">
        <li class="list-group-item">
            <div class="articleListHeader">
                <p><strong>Scott Cosentino</strong> | Apr 13</p>
            </div>
            <div class="articleDetails">
                <h2>Introduction to Programming with Python</h2>
                <p>In this article, you will learn about the Python programming language...</p>
            </div>
            <div class="tags">
                <p>Introduction to programming, Python</p>
            </div>
        </li>
        <li class="list-group-item"><div class="articleListHeader">
            <p><strong>Scott Cosentino</strong> | Apr 13</p>
        </div>
        <div class="articleDetails">
            <h2>Introduction to Programming with Python</h2>
            <p>In this article, you will learn about the Python programming language...</p>
        </div>
        <div class="tags">
            <p>Introduction to programming, Python</p>
        </div></li>
        <li class="list-group-item"><div class="articleListHeader">
            <p><strong>Scott Cosentino</strong> | Apr 13</p>
        </div>
        <div class="articleDetails">
            <h2>Introduction to Programming with Python</h2>
            <p>In this article, you will learn about the Python programming language...</p>
        </div>
        <div class="tags">
            <p>Introduction to programming, Python</p>
        </div></li>
        <li class="list-group-item"><div class="articleListHeader">
            <p><strong>Scott Cosentino</strong> | Apr 13</p>
        </div>
        <div class="articleDetails">
            <h2>Introduction to Programming with Python</h2>
            <p>In this article, you will learn about the Python programming language...</p>
        </div>
        <div class="tags">
            <p>Introduction to programming, Python</p>
        </div></li>
        <li class="list-group-item"><div class="articleListHeader">
            <p><strong>Scott Cosentino</strong> | Apr 13</p>
        </div>
        <div class="articleDetails">
            <h2>Introduction to Programming with Python</h2>
            <p>In this article, you will learn about the Python programming language...</p>
        </div>
        <div class="tags">
            <p>Introduction to programming, Python</p>
        </div></li>
    </ul>
</div>
