<ng-template [ngIf]="isAuth" [ngIfElse]="loggedOut">
    <app-navbar></app-navbar>
</ng-template>

<ng-template #loggedOut>
    <app-unauthnav></app-unauthnav>
</ng-template>

<div class="divpadding">
    <h1>Outputs, Strings and Comments</h1>
    <h6 class="articleh6">CS101 - Introduction to Programming with Python</h6>
    <div>
       <p>Generally, a program will take some input, process the input, and produce an output. We already saw a basic idea of outputting data using the code print(“Hello!”). Let’s explore the idea of printing and outputting data further. </p>

       <h2>Print is a Function</h2>
       <p>Print is what we refer to as a function. A function is a piece of code that performs a specific operation. Python provides you with many built-in functions like print to help make your development process easier. The print function takes in an argument. An argument is data that is used by the function to accomplish its task. In this case, the argument provided to the print function represents the data we want to print. From the example print(“Hello!”), you can see that the argument is provided between the two brackets. When we call the print function, Python takes the data in the brackets and prints it on the screen.</p>

        <h2>Strings</h2>
        <p>You’ve likely noticed that the argument for print, Hello!, is placed in quotations. When data is placed in quotations, we often refer to it as a string. The quotations give Python context to understand that the text Hello! Should be interpreted as text rather than code. In Python, you can use either single quotes, ‘, or double quotes, “, for strings. So, the code print(“Hello!”) and print(‘Hello!’) are equivalent. Python allows you to use both kinds of quotations because sometimes a quotation may appear in the text you want to print. For example, if you want to print the text Don’t stop, you will use double quotes because a single quote appears in the string. </p>

        <h2>Comments</h2>
        <p>Comments are notes that can be added to a program to explain how it works. Comments are ignored by the interpreter so that you can write anything in them. In Python, comments start with a # character. For example, the code below shows an example of a comment.</p>

        <pre><code class="language-python">#Here is a comment!
print("Hello!")
print("World!") #A comment can also go here</code></pre>

            <p>Comments are useful for documenting how code works. This can help you remember why you wrote code in a specific way. It can also help other programmers understand how your code works. </p>

            <h2>Wrapping Up</h2>
            <p>The fundamental ideas of outputs, prints, and comments will be used throughout your Python learning journey. You can continue learning the basics of programming by reading Python Variables.</p>
    </div>
</div>

<app-footer></app-footer>