.articleContainer{
  /* top&bottom, left&right */
  margin: 1em 4em;
}

a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  color:#444;
}

.headContainer{
  display:flex;
  align-items: center;
}

.seeAllCourses{

  margin-left: auto;
  
}

.button-prim{
  background-color: #6C61F2;
  margin-right: 2rem;
  margin-top:2rem;
  font-size: 22px;
  color:#f7e5e5;
}

.jumboContainer{
  background-image: linear-gradient(to right, #83C1A3,#45B47E);
  height: 100vh;
  display:flex;
  align-items: center;
}