
<ng-template [ngIf]="isAuth" [ngIfElse]="loggedOut">
    <app-navbar></app-navbar>
</ng-template>

<ng-template #loggedOut>
    <app-unauthnav></app-unauthnav>
</ng-template>

<div class="jumboContainer">
    <div class="container-fluid py-5 jumbo">
        <h1 class="display-5 fw-bold mb-5">Learn Computer Science <br>the right way</h1>
        <h3>Check out our courses and tutorials</h3>

        <a href="/courses"><button class="btn button-prim">View Courses</button></a>
        <a href="/posts"><button class="btn button-prim">View Tutorials</button></a>
    </div>
</div>

<div class="container"> 

    
    
    <div class="headContainer">
        <h2 style="display:inline">Our Courses</h2>
        <a class="seeAllCourses" href="/courses">See all courses</a>
    </div>
    <div class="row">
        <div *ngFor="let course of courses" class="col-lg-4" style="padding-top:1em;">
            <a href="courses{{course.path}}">
            <div class="card w-100 h-100">
                <img class="card-img-top img-fluid" src={{course.thumbnail}} alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{course.title}}</h4>
                    <p class="card-text">{{course.shortdesc}}</p>
                </div>
            </div>
            </a>
        </div>
        
    </div>

    <div class="headContainer mt-5">
        <h2 style="display:inline">Text Posts and Tutorials</h2>
        <a class="seeAllCourses" href="/posts">See all posts and tutorials</a>
    </div>
    <div class="row">
        <div *ngFor="let article of articles" class="col-lg-4" style="padding-top:1em;">
            <a href="{{article.path}}">
            <div class="card w-100 h-100">
                <img class="card-img-top img-fluid" src={{article.thumbnail}} alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{article.title}}</h4>
                    <p class="card-text">{{article.description}}</p>
                </div>
            </div>
            </a>
        </div>
        
    </div>
</div>

<app-footer></app-footer>